
body{
    background-color: rgb(80, 125, 146);
}
.event{
    position: relative;
    border: 3px dashed black;
    padding: 8px;
    border-radius: 4px;
}

.title{
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.info{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: rgb(128, 10, 10);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.25px;
}
.icon{
    display: block;
    margin-right: 8px;
    color:rgb(28, 28, 159);
}

.chip{
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
}

.event{
    background-color: rgb(110, 110, 110);
    padding: 15px;
}

.free{
    background-color: green;
}
.paid {
    background-color: blue;
}
.vip {
    background-color: red;
}
